.button{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin:0px 0 0;
  align-items: center;
  overflow-x: auto;
  box-shadow: 0 3px 3px rgb(199, 198, 198);
}

.button button {
  flex: 0 0 auto;
  font-family: "Museo-700";
  color:rgb(83, 83, 83);
  border: none;
  background: none;
  padding: 5px 20px 10px;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
}

.button::-webkit-scrollbar{
    display: none;
}

button.active {
  color:rgb(254,79,76);
  border-bottom: 2px solid rgb(254,79,76);
}
